body {
    background-color: #fffbf7;
}

h1 {
    font-size: 60px;
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    margin: 40px 20px 0;
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

li {
    display: inline;
    margin: 0 25px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    margin: 0 25px;
}

.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: #fff;
    background-color: #67b54b;
    border: none;
    border-radius: 5px;
    padding: 12px 14px;
}

.main {
    margin-top: 285px;
    text-align: center;
}

article {
    margin-left: 30px;
}

article h2 {
    color: #025157;
    font-size: 40px;
    line-height: 48px;
    font-family: "Alegreya", serif;
}

article p {
    color: #343434;
    font-size: 20px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.contenevideo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px)/repeat(2, 1fr);
}

.features .feature-card {
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #dadada;
    border-radius: 5px;
    overflow: hidden;
}

.features .feature-card .feature-content {
    display: block;
}
.features .feature-card .feature-content a {
    color: #67b54b;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.features .feature-card .feature-content img {
    width: 50px;
}
.features .feature-card .feature-content h3 {
    font-size: 24px;
    font-weight: 400;
    color: #343434;
} 

.features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}

.features .feature-card .feature-image {
    position: relative;
    right: -50px;
    height: 80%;
}

.success-stories {
    background-color: #a1d683;
    display: flex;
}

.success-stories h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}
.success-stories p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.success-stories button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}
.success-stories img {
    width: 500px;
    max-width: 100%;
}

  /** dispositivos móviles en vista viewport (vertical) */
  @media (max-width: 575px) {
    .navbar,
    /* .actions {
        display: none;
    } */
    h1 {
        font-size: 30px;
    }
    .main {
        margin-top: 140px;
    }
    .banner > img {
        width: 100%;
    }

    .publish > form {
        flex-direction: column;
    }

    .publish > form > div {
        height: 50px;
        margin-top: 10px;
    }

    .publish > form > div > input {
        width: 65%;
    }

    .promo {
        flex-direction: column;
        max-width: 90%;
    }
    .contenevideo > video {
        width: 100%;
    }
    .publish {
        margin-top: 10px;
    }
    .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
    }
    .features {
        display: block;
    }
    
    .feature-image {
        display: none;
    }
  }
  
  /** dispositivos pequeños en vista landscape (horizontal) */
  @media (min-width: 576px) and (max-width: 767px) {
 
  }
  
  /** dispositivos medianos (tablets) */
  @media (min-width: 768px) and (max-width: 991px) {

  }
  
  /** dispositivos grandes (desktops) */
  @media (min-width: 992px) and (max-width: 1199px) {

  }
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
 
  }