body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    margin: 40px 20px 0;
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

li {
    display: inline;
    margin: 0 25px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    margin: 0 25px;
}

.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: #fff;
    background-color: #67b54b;
    border: none;
    border-radius: 5px;
    padding: 12px 14px;
}

.main {
    margin-top: 285px;
    text-align: center;
}

article {
    margin-left: 30px;
}

article h2 {
    color: #025157;
    font-size: 40px;
    line-height: 48px;
    font-family: "Alegreya", serif;
}

article p {
    color: #343434;
    font-size: 20px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.contenevideo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.growing-ecommerce {
    background-color: #a1d683;
    display: flex;
}
.growing-ecommerce h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}
.growing-ecommerce p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.growing-ecommerce button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}
.growing-ecommerce img {
    width: 500px;
    max-width: 100%;
}